<div role='listitem'
    (dblclick)=toggleInput() 
    *ngIf='task.isInput && (!board.hideCompleteTasks && !task.isComplete)'
    class='task-list-item'
    [style.background]='task.cardColor'
    [style.color]='task.fontColor'
    style='height:100%;padding-top:10px;padding-bottom:10px;min-height:47px;'
    #elementWrapper
>   
    <div class='task-list-item-wrapper'>
        <img *ngIf='task.displayImageUrl' src={{task.displayImageUrl}} />
        <div class='task-list-item-div'>
            <form class='task-list-form' (submit)='toggleInput($event)'>
                <mat-form-field class='task-list-field' style='margin-bottom:-0.5em; margin-top:-0.5em; ' >
                    <input   
                        matInput
                        #taskBodyInput
                        value={{task.body}} 
                        (keyup)='changeTaskBody($event)'
                        (focusout)='toggleInput()'
                    />
                </mat-form-field>
            </form>

            <div>
                <i *ngIf='task.important' class="material-icons">visibility</i>
                <i *ngIf='task.warning' class="material-icons">warning</i>
                <i *ngIf='task.payment' class="material-icons">payment</i>
                <i *ngIf='task.vacation' class='material-icons'>weekend</i>
                <i *ngIf='task.attachment' class="material-icons">attach_file</i>
                <mat-icon *ngIf='task.social'>group</mat-icon>
                <mat-icon *ngIf='task.work'>work</mat-icon>
                <mat-icon *ngIf='task.travel'>local_airport</mat-icon>
            </div>
        </div>
    </div>

    <span class='task-list-checklist-icon-wrapper'>
            <i class='task-list-checklist-icon material-icons' *ngFor='let checklist of task.checklists' [style.color]='checklist.color'>check_box</i>
    </span>

</div>

<div role='listitem'
    (click)='openDialog()' 
    *ngIf='!task.isInput && (board.hideCompleteTasks===false && task.isComplete===true || task.isComplete===false)' 
    draggable="true" 
    (dragstart)='onDragStart($event)'
    (dragend)='onDragEnd($event)' 
    (dragover)='onDragOver($event)' 
    (drop)='onDrop($event)' 
    class='task-list-item'
    [style.background]='task.cardColor'
    [style.color]='task.fontColor'
    [style.opacity]='addCompletionStyling("opacity")'
    [style.text-decoration]='addCompletionStyling("text-decoration")'
    style='height:100%;padding-top:10px;padding-bottom:10px; position:relative; '
    #elementWrapper
>   
    <div (click)='toggleDisplayLabelText()' *ngIf='!displayLabelText' class='label-row'>
            
        <p *ngFor='let label of task.labels' [style.background]='label.background'></p>
    </div>

    <div (dblclick)='toggleDisplayLabelText()' *ngIf='displayLabelText' class='label-row'>
        <input (click)='focusLabel()' (keyup)='changeLabelText($event, i, task)' *ngFor='let label of task.labels; index as i' size={{labelLength(label.text.length)}} value={{label.text}} [style.background]='label.background' />
    </div>
    
    <div class='task-list-item-wrapper'>
        <div style='width:100%;'>
            <img *ngIf='task.displayImageUrl' src={{task.displayImageUrl}} />
        </div>

        <div class='task-list-item-div'>
            <div>
                <div style='display:flex; align-items:center;'>
                    <div (click)='toggleInput()'>{{task.body}}</div>
                    <div class='task-due-date' *ngIf='task.dueDate'>
                        <i class='material-icons'>alarm</i>
                        <span >{{task.dueDate.format('MM/DD')}}</span>
                    </div>
                </div>
                
            </div>
            

            <div>
                <i class="material-icons" *ngIf='task.important'>visibility</i>
                <i *ngIf='task.warning' class="material-icons">warning</i>
                <i *ngIf='task.payment' class="material-icons">payment</i>
                <i *ngIf='task.vacation' class='material-icons'>weekend</i>
                <i *ngIf='task.attachment' class="material-icons">attach_file</i>
                <mat-icon *ngIf='task.social'>group</mat-icon>
                <mat-icon *ngIf='task.work'>work</mat-icon>
                <mat-icon *ngIf='task.travel'>local_airport</mat-icon>
            </div>

        </div>
    
    </div>

    <span class='task-list-checklist-icon-wrapper'>
        <i class='task-list-checklist-icon material-icons' *ngFor='let checklist of task.checklists' [style.color]='checklist.color'>check_box</i>
    </span>
        
    

    

</div>
