<!--The content below is only a placeholder and can be replaced.-->

<div id='home_div'>

  
  <!-- <board class='board' [boardKey]=1 [boardTitle]='boardTitle' (boardTitleChange)=changeBoardTitle($event) ></board>
  
  <board class='board' [boardKey]=2 [boardTitle]=12321 (boardTitleChange)=changeBoardTitle($event)></board> -->
  <board *ngFor='let board of board$ | async' class='board' [boardKey]='board.key' [boardTitle]='board.title' (boardTitleChange)=changeBoardTitle($event) ></board>
  <button mat-flat-button style='font-size:2.5em' (click)='addBoard()' color='primary'><mat-icon>add</mat-icon></button>
</div>


