<mat-expansion-panel class='row-wrapper' accordion='accordion' (dragover)='onDragOver($event)' (drop)='onDrop($event, rowData)'>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <span>{{rowData.title}}</span>
            
        </mat-panel-title>
        <mat-panel-description>
            {{rowData.description}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-divider style='margin-bottom:10px;'></mat-divider>

    <span *ngIf='isEditingTitle'>
        <mat-form-field>
            <input matInput (change)='editTitle($event, rowData)' value={{rowData.title}}/>
        </mat-form-field>
        <button mat-button (click)='toggleEditTitle(rowData)'>Save</button>
    </span>

    <div *ngIf='isEditingDescription'>
        <mat-form-field style='width:30%;'>
            <input matInput (change)='editDescription($event, rowData)' value={{rowData.description}}/>
        </mat-form-field>
        <button mat-button (click)='toggleEditDescription(rowData)'>Save</button>
    </div>

    <button mat-stroked-button class='row-action-button' (click)='addBoard(rowData)'>New Board <mat-icon>add</mat-icon></button>
    <button mat-stroked-button class='row-action-button' [matMenuTriggerFor]='rowActions'>Row Actions</button>
    <mat-menu #rowActions='matMenu'>
        <button mat-menu-item (click)='toggleEditTitle(rowData)'>Edit Title</button>
        <button mat-menu-item (click)='toggleEditDescription(rowData)'>Edit Description</button>
        <button mat-menu-item (click)='archiveRow(rowData.key)'>Archive Row</button>
        <!-- <button mat-menu-item (click)='duplicateRow(rowData)'>Duplicate Row</button> -->
        <button mat-menu-item>Export Row</button>
        <button mat-menu-item>Delete Row</button>
        
    </mat-menu>
    

    <div #scrollRow class='home_div' (dragover)='onMouseEnter($event)' (dragleave)='onMouseLeave($event)'>

        <div  *ngFor='let board of board$ | async'>
            <board class='board' [boardKey]='board.key' [boardTitle]='board.title' (autoScroller)='autoScroller($event)' ></board>
        </div>
          
    </div>

</mat-expansion-panel>
<!-- class='row' *ngFor='let row of row$ | async' (dragover)='onDragOver($event)' (drop)='onDrop($event, row)' -->
