


<mat-card class='task-board' *ngIf='board$ | async ; let board'  draggable='true' (dragstart)='onDragStart($event, board)' (dragover)='onDragOver($event, board)' (drop)='onDrop($event, board)' (taskTransfer)='onTaskTransfer($event)'>
    
    <export-button *ngIf='displayExportLink' [exportLink]='exportLink' [title]='board.title' (linkHasBegunDownload)='downloadLinkLoads()'></export-button>

    <div class='card-title' >
        <h3 (click)='toggleEditBoardTitle(board)' *ngIf='!isEditingBoardTitle' >{{board.title}}</h3>

        
        <mat-form-field *ngIf='isEditingBoardTitle' class='board-title-input'>
            <input #boardTitleInput matInput (focusout)='toggleEditBoardTitle(board)' *ngIf='isEditingBoardTitle' value={{board.title}} class='board-title-input-a' (keyup)='editBoardTitle($event, board)'>
        </mat-form-field>

        <div>
            <button mat-icon-button [matMenuTriggerFor]='boardOptions'>
                <i class="material-icons">more_vert</i>
                <mat-menu #boardOptions>
                    <button mat-menu-item ><mat-checkbox (change)='toggleHideCompleteTasks(board.key, !board.hideCompleteTasks)' [checked]='board.hideCompleteTasks'>Hide completed tasks</mat-checkbox></button>
                    
                    <button mat-menu-item (click)='archiveBoard(board)'>
                        <mat-icon>archive</mat-icon>
                        <span>Archive Board</span>
                    </button>
                    
                    <button mat-menu-item (click)='deleteBoard(board.key)'>
                        <mat-icon>delete</mat-icon>
                        <span>Delete Board</span>
                    </button>

                    <button mat-menu-item (click)='transferBoard(board)'>
                        <mat-icon>screen_share</mat-icon>
                        <span>Transfer Board</span>
                    </button>

                    <button mat-menu-item (click)='exportBoard(board)'>
                        <mat-icon>cloud_download</mat-icon>
                        <span>Export Board</span>
                    </button>
                </mat-menu>
            </button>

            <button mat-icon-button (click)='addTask()'>
                <i class="material-icons">add</i>
            </button>
        </div>
        
    </div>
    
    
    
    
    

    <mat-list role='list'>
        <task (taskTransfer)='onTaskTransfer($event)' (taskChange)='onTaskChange($event)' *ngFor='let task of board.tasks; index as i' [task]='task' [board]='board'></task>
    </mat-list>

</mat-card>


