<header>
    <h2>Link Task to Other Tasks</h2>
    <button mat-icon-button (click)='closeDialog()'><mat-icon>close</mat-icon></button>
</header>

<div>
    <h3>Rows</h3>
    <mat-form-field>
        <mat-select [(value)]='selectedRow'>
            <mat-option *ngFor='let row of rows$ | async' [value]='row'>{{row.title}}</mat-option>
        </mat-select>
    </mat-form-field>
<!-- *ngIf='selectedRow && (board.rowKey === selectedRow.key)' -->
    <h3>Boards</h3>
    <mat-form-field>
        <mat-select [(value)]='selectedBoard'>
            <span *ngFor='let board of boards$ | async'>
                <mat-option *ngIf='selectedRow && (board.rowKey === selectedRow.key)' [value]='board'>
                    {{board.title}}
                </mat-option>
            </span>
        </mat-select>
    </mat-form-field>

    <h3>Tasks</h3>
    <mat-form-field>
        <mat-select [(value)]='selectedTask'>
            <div *ngIf='selectedBoard'>
                <span *ngFor='let task of selectedBoard.tasks' >
                    <mat-option *ngIf='task.key !== data.key && !jeff(task)' [value]='task'>{{task.body}}</mat-option>
                </span>
            </div>
        </mat-select>
    </mat-form-field>
</div>

<button (click)='linkTask(selectedBoard.key, selectedTask.key)' *ngIf='selectedRow && selectedBoard && selectedTask' mat-raised-button color='primary'>Link Task</button>