/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
    font-family: 'Roboto', sans-serif;
}
.home_div{
    display: flex;
    overflow:auto;
}
.board{
    margin-left:10px;
    margin-right:10px;
}
.task-board{
    width:100vw;
    max-width: 400px;
    background-color: rgb(0, 0, 0, .1);
    text-align:left;    
}
.task-board h3{
    margin:0px;
}
.board-title-input{
    padding:0px;
    margin:0px;
    
    font-weight:700;
    font-size:1.17em;
    width:100%;
}

div.card-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.due-date{
    line-height: 0px;
    margin-top:0px;
    margin-bottom:0px
}
.due-date h3{
    line-height: 0px;
    margin-top:0px;
    margin-bottom:0px
}


.task-list-item{
    margin-top:10px;
    margin-bottom:10px;
    
    
    border-radius:5px;
    background-color:#ffffff;
    width:100%;

}

.task-list-item-wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.task-list-item-wrapper img{
    width:200px;
    height:200px;
}

.task-list-item-div{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:100%;
}

.task-list-form, .task-list-field{
    width:70%;
}
.task-list-field{
    width:100%;
}
.task-due-date{
    margin-left:5px;
    font-size:0.8em;
    font-weight:bold;
    display:flex;
    align-items:center;
    padding:4px;
    background-color: greenyellow;
    border-radius:5px;
}
.task-due-date i{
    font-size:1.4em;
    font-weight:bold;
}

#task-dialog{
    background-color:#E5E5E5;
    max-height:80vh;
    overflow:auto;
}
.dialog-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-rows:minmax(3em, auto) minmax(6em, auto) minmax(8em, auto) minmax(8em, auto);
    align-items:stretch;
}

.dialog-title{
    grid-column:1 / 5;
    grid-row: 1;
    align-self:center;
}
.dialog-title div{
    display:flex;
    align-items: center;
    
}
.dialog-title div:nth-of-type(2){
    margin-top:-1.4em;
}
.dialog-title button {
    margin-left: 20px;
    opacity:0;
    transition:.5s;
}
.dialog-title:hover div > button{
    transition:.5s;
    opacity:1
}
.dialog-title mat-form-field{
    width:100%;
}
.dialog-title input{
    font-size:2em;
    font-weight: bold;
    width:100%;
}

.dialog-exit{
    grid-column:5/ 6;
    grid-row: 1;
    font-weight:bold;
}
.dialog-exit button i{
    font-size:2.2em;
}

.dialog-description{
    grid-column:1/4;
    grid-row:2;
    white-space: pre-wrap;
}

.dialog-description mat-form-field{
    width:100%;
    margin-top:-1em;
    margin-bottom:-1.25em;
}
.dialog-description textarea{
    width:100%;
}

.dialog-description-title{
    display:flex;
    margin-bottom:-.8em;
}

.dialog-description-title button i{
    font-size:1.3em;
}
.dialog-description-title button {
    opacity:0;
    transition:.5s;
}
.dialog-description-title:hover > button{
    transition:.5s;
    opacity:1
}


.dialog-comments{
    grid-column:1/4;
    grid-row:3;
    overflow-y:auto;
    overflow-x:hidden;
    max-height: 400px;
}

.dialog-comments textarea{
    width:95%;
    font-size:1em;
    color:rgb(0,0,0,.85);
    font-weight:600;
    resize:none;
    border-radius:10px;
    padding:10px;
    margin-top:5px;
}
.dialog-comments textarea:focus{
    outline:none;
    overflow: hidden;
}


.dialog-individual-comment{
    background-color:white;
    padding:10px;
    border-radius:10px;
    margin-top:5px;
    
    word-wrap: break-word;
    white-space: pre-wrap;
}
.dialog-individual-comment h4, .dialog-individual-comment p{
    margin:0;
}
.dialog-individual-comment p{
    font-size:.6em;
}

.dialog-checklist h4{
    margin-top:0;
    margin-bottom:0;
}

.dialog-checklist button{
    margin-top:10px;
}

.dialog-checklist > input{
    font-size: 1em;
    border:none;
    font-weight:bold
}

.task-dialog-attachment-download{
    display:flex;
}
.task-dialog-attachment-download p{
    position:relative;
    top:6px
}


.dialog-checklist-item-input{
    /* background-color:rgb(0,0,0,0); */
    background-color:white;
    border:none;
    font-size:1em;
    margin-left:9px;
    width:100%;
}


.dialog-other{
    grid-column:1/4;
    grid-row:4;
}
.dialog-actions{
    background-color:rgb(254,254,254, .80);
    grid-column:4/6;
    grid-row:2 /5;
    border:1px solid black;
    border-radius:20px;
    text-align: center;
    max-height:600px;
    padding-bottom:10px;
}

.dialog-description h3, .dialog-comments h3, .dialog-other h3{
    line-height:10%;
    margin-bottom:10px;
}
.dialog-description p, .dialog-comments p, .dialog-other p{
    margin-top:5px;  
}

.dialog-actions-button-wrapper{
    display:flex;
    flex-direction: column;
}
.dialog-actions-button-wrapper button{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight:bold;
}

.complete-task{
    opacity: 0.5;
    text-decoration:line-through;
}


.date-pick-dialog-day-wrapper{
    display:grid;
    grid-template-columns:auto auto auto auto auto auto auto;
    grid-gap:0px;
}
.date-pick-dialog-day{
    padding:10px;
    border:1px solid black;
}
.date-pick-dialog-day:active{
    background:#adff2f;
}
.date-pick-dialog-day-of-week{
    padding:10px;
    background-color:gray;
    font-weight:bold;
    text-align:center;
    border-left:1px solid black;
    border-right:1px solid black;

}
.date-pick-dialog-day-of-week:first-of-type{
    border-left:none;
}
.date-pick-dialog-day-of-week:last-child{
    border-right:none;
}


.photo-upload-content{
    display:flex;
    flex-direction: column;
}
.photo-upload-content img{
    width: 250px;
    height: 250px;
}

.attachment-download{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.dialog-attachments h4{
    line-height:10%;
    margin-bottom:10px;
}